<ActionBar title="IcreCream POS" class="action-bar">
       
    <ActionItem class="action-item">
        <Label [text]="order" class="Action h2"></Label>
        
    </ActionItem>
           
    <ActionItem class="action-item" >
        <StackLayout class="p-r-10" [nsRouterLink]="['/summary']">
        <Label class="font-awesome h2 Action" text="&#xf217;" style="color: purple;"></Label>
        </StackLayout>
    </ActionItem>
      

</ActionBar>

<StackLayout horizontalAlignment="center">
    <SearchBar width="100%" hint="Search Products" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)" 
            color="black" textFieldBackgroundColor="#eeeeee" textFieldHintColor="#999999"
            (loaded)="sBLoaded($event)"></SearchBar>

           
    
    <ListView [items]="filteredProducts" class="list-group">
        <Template let-product="item">
            <StackLayout class="list-group-item" (tap)="selectQuantity(product)" orientation="horizontal">
                
                <!-- <StackLayout width="10%"  style="background-color: green;">
                </StackLayout> -->
                <Label text="{{ product.name }}" class="label"></Label>
                <!-- <Label text="test" class="pull-right"></Label> -->
            </StackLayout>
        </Template>
    </ListView> 
    
</StackLayout>