

<!-- 
    <ListView [items]="lineItems" class="list-group">
            <Template let-product="item">
                <StackLayout class="list-group-item">
                    <Label text="{{ product.name }}" class="label"></Label>
                </StackLayout>
            </Template>
    </ListView>  -->
<ActionBar title="Order Summary" class="action-bar">
</ActionBar>

<GridLayout rows="auto, *, auto, auto">
    <StackLayout *ngIf="!lineItems" row="1">
            <Label text="No item in the cart"> </Label>
    </StackLayout>


    <ListView *ngIf="lineItems" [items]="lineItems" class="list-group" row="1">
            <ng-template let-item="item">
                <GridLayout rows="*" columns="*,*,*" >
                    <Label row="1" col="0" [text]="item.name"
                        class="list-group-item"
                        ></Label>
                    <Label row="1" col="1" [text]="item.quantity"
                        class="list-group-item"></Label>
                    <Label row="1" col="2" [text]="item.totalPrice"
                        class="list-group-item"></Label>
                </GridLayout>
            </ng-template>
    </ListView>
    <StackLayout class="hr-light" row="2"></StackLayout>
    <StackLayout orientation="vertical" row="3">
        <StackLayout orientation="horizontal"> 
            <Label class="h2 pull-left m-10" text="Total Price :"></Label>
            <Label class="h2 pull-right m-10" [text]="totalPrice()"></Label>
        </StackLayout>
      
        <Button class="btn btn-primary btn-active" text="Confirm Order" (tap)="showAlert()"></Button>

    </StackLayout>
</GridLayout>


           
    